{% extends 'base.html.twig' %}

{% block title %}Hello BusinessController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

   <p>{{ business.id }}</p>
    <p>{{ business.name }}</p>
    <p>{{ business.city }}</p>
    <p>{{ business.street }}</p>
    <p>{{ business.houseNumber }}</p>
    <p>{{ business.phoneNumber }}</p>
    <p>{{ business.businessType.name }}</p>

    <a href="{{ path('app_business') }}">Back</a>
</div>
{% endblock %}
